
@{
    ViewBag.Title = "AssignEmployeeToCollect";
    ViewBag.HeadingTitle = "Assign Employee To Collect";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

@{
    if (Session["EmployeeRole"] == null)
    {
        <script>
            window.location.href = '/Employee/Login';
        </script>
    }
    else
    {
        string sessionUserRole = Session["EmployeeRole"] as string;

        if (sessionUserRole == zero_hunger.EF.Models.UserRole.Regular.ToString())
        {
            <h2>You are not permitted to assign employee to collect food!</h2>
        }
        else
        {
            <div>
                <h4 class="text-center mt-3">Collect Request from @Model.Restaurant.Name.</h4>
            </div>
            <div class="d-flex align-items-center justify-content-center h-100">

                <form method="post" action="" class="shadow-lg p-4 mb-5 bg-body-tertiary rounded" enctype="multipart/form-data">
                    <label>Select employee to collect food</label>
                    <select class="form-select mb-2" aria-label="Default select example" name="EmployeeId">
                        <option selected disabled>Select Employee</option>
                        @foreach (var item in ViewBag.EmployeeList)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        }

    }
}

