
@{
    ViewBag.Title = "Create Food Collect Request";
    ViewBag.HeadingTitle = "Create Food Collect Request ";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}


<div class="d-flex align-items-center justify-content-center h-100">
    <form method="post" action="" class="shadow-lg p-4 mb-5 bg-body-tertiary rounded" enctype="multipart/form-data">
        <div class="form-group mb-3">
            <label class="form-label" for="title">Food Item</label>
            <input type="text" name="FoodItem" class="form-control" id="title" placeholder="Food Item">
            @Html.ValidationMessage("FoodItem")
        </div>
        <div class="form-group mb-3">
            <label class="form-label" for="preserveTime">Preserve Time</label>
            <input type="date" name="PreservedTime" class="form-control" id="preserveTime" placeholder="Preserve Time">
            @Html.ValidationMessage("PreservedTime")
        </div>
        <input type="hidden" name="Restaurant_ID" value="@Session["RestaurantId"]" />
        @Html.ValidationMessage("Restaurant_ID")
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>